* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    color: #666;
}

#content {
    min-height: 100%;
}

.content-container {
    max-width: 1190px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.heading-container {
    padding: 0 0 41px;
}

.cursive-heading {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: #d9a868;
    padding: 0px 0px 8px;
}

.bold-heading {
    font-size: 45px;
    font-weight: 800;
    color: #333;
    margin: 0;
}

.body-button {
    height: 60px;
    width: 200px;
    text-align: center;
    line-height: 65px;
    z-index: 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans";
    background-color: rgb(218, 188, 149);
    text-decoration: none;
    max-width: none;
    transition: background-color .2s, border-color .2s;
    -webkit-transition: background-color .2s, border-color .2s;
    -moz-transition: background-color .2s, border-color .2s;
    -o-transition: background-color .2s, border-color .2s;
}

.body-button:hover {
    background: #f2d1a5;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

/* Header Styles */

header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s;
}

header.active {
    background-color: #000000;
    opacity: 1;
    height: 90px;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 1px 6px 0px #c5c5c5; 
    box-shadow: 0px 1px 6px 0px #c5c5c5;
    padding: none; 
}

#name-container {
    padding-top: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#name-container h5 {
    letter-spacing: 5px;
    margin: 0px;
    margin-bottom: 10px;
}

#restaurant-name {
    font-size: 60px;
    font-family: 'Tangerine', cursive;
    margin: 0px;
    color: white;
    padding: none;
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    border-style: none;
    outline: none;
}

.button-nav {
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    transition: transform 0.3s;
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

.active-button {
    border-bottom: 1px solid white;
}

.button-nav:hover {
    border-bottom: 1px solid white;
}

#nav-menu-icon {
    display: none;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 3; 
    top: 0; 
    left: 0;
    background-color: #343434;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.4s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav-open-canvas {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    transition: opacity 1s;
}

@media (max-width: 1200px) {
    header { 
        width: 100%;
        justify-content: space-between;
        background-color: white;
        height: 80px;
        -webkit-box-shadow: 0px 1px 6px 0px #c5c5c5; 
        box-shadow: 0px 1px 6px 0px #c5c5c5
    }

    nav {
        display: none;
    }

    #name-container {
        margin-left: 20px;
    }

    #restaurant-name {
        font-size: 50px;
    }

    #restaurant-name, #name-container h5 {
        color: #333;
    }

    #nav-menu-icon {
        display: inline;
        margin-right: 20px;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    header {
        height: 75px;
    }

    #restaurant-name {
        font-size: 30px;
    }

    #name-container h5 {
        font-size: 10px;
    }
}


/* Main section styles */


main {
    height: 200vh;
    width: 100%;
}

/* Landing section styles */

.landing-section {
    background-repeat: no-repeat;
    background-image: url("http://demo.ovathemes.com/reon/wp-content/uploads/2018/12/slideshow_1.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: inherit;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#landing-main-text {
    font-size: 100px;
    font-family: 'Tangerine', cursive;
    color: white;
    margin: 10px;
    white-space: nowrap;
    -webkit-animation: fadeInSlideDown 1s; 
    -moz-animation: fadeInSlideDown 1s; 
     -ms-animation: fadeInSlideDown 1s; 
      -o-animation: fadeInSlideDown 1s; 
         animation: fadeInSlideDown 1s;

}

@keyframes fadeInSlideDown {
    from { 
        opacity: 0;
        transform: translateY(-100%); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeInSlideDown {
    from { 
        opacity: 0;
        transform: translateY(-100%); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInSlideDown {
    from { 
        opacity: 0;
        transform: translateY(-100%); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeInSlideDown {
    from { 
        opacity: 0;
        transform: translateY(-100%); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

#landing-sub-text {
    font-size: 20px;
    font-weight: 400;
    opacity: 0;
    margin: 20px;
    letter-spacing: 4px;
    color: white;
    -webkit-animation: fadeInSlideDown 1s 1s forwards; 
    -moz-animation: fadeInSlideDown 1s 1s forwards; 
     -ms-animation: fadeInSlideDown 1s 1s forwards; 
      -o-animation: fadeInSlideDown 1s 1s forwards; 
         animation: fadeInSlideDown 1s 1s forwards;
}

#landing-button {
    z-index: 0;
    white-space: nowrap;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: "Josefin Sans";
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    outline: none;
    box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    visibility: inherit;
    text-align: inherit;
    margin: 30px;
    padding: 21px 44px;
    letter-spacing: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 0;
    transform-origin: 50% 50% 0px;
    transition: background-color .2s, border-color .2s;
    -webkit-transition: background-color .2s, border-color .2s;
    -moz-transition: background-color .2s, border-color .2s;
    -o-transition: background-color .2s, border-color .2s;
    -webkit-animation: fadeInSlideUp 1s 2s forwards; 
    -moz-animation: fadeInSlideUp 1s 2s forwards; 
     -ms-animation: fadeInSlideUp 1s 2s forwards; 
      -o-animation: fadeInSlideUp 1s 2s forwards; 
         animation: fadeInSlideUp 1s 2s forwards;
}

@keyframes fadeInSlideUp {
    from { 
        opacity: 0;
        transform: translateY(100%); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeInSlideUp {
    from { 
        opacity: 0;
        transform: translateY(100%); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeInSlideUp {
    from { 
        opacity: 0;
        transform: translateY(100%); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeInSlideUp {
    from { 
        opacity: 0;
        transform: translateY(100%); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

#landing-button:hover {
    background-color: rgb(218, 188, 149);
    border-color: rgb(218, 188, 149);
}

#landing-pointer {
    max-width: 30px;
    min-width: 30px;
    height: 55px;
    opacity: 0;
    border: 2px solid white;
    border-radius: 23px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    -webkit-animation: fadeInSlideUp 1s forwards; 
    -moz-animation: fadeInSlideUp 1s forwards; 
     -ms-animation: fadeInSlideUp 1s forwards; 
      -o-animation: fadeInSlideUp 1s forwards; 
         animation: fadeInSlideUp 1s forwards;
}

#landing-pointer span {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #fff;
    border-radius: 50%;
    animation: slideDownFadeOut 2.5s linear infinite;
    -webkit-animation: slideDownFadeOut 2.5s linear infinite; 
    -moz-animation: slideDownFadeOut 2.5s linear infinite;
     -ms-animation: slideDownFadeOut 2.5s linear infinite;
      -o-animation: slideDownFadeOut 2.5s linear infinite; 
}

@keyframes slideDownFadeOut {
    from { 
        transform: translateY(0%); 
    }
    to {  
        transform: translateY(300%);
        opacity: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes slideDownFadeOut {
    from { 
        transform: translateY(0%); 
    }
    to { 
        transform: translateY(300%);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slideDownFadeOut {
    from { 
        transform: translateY(0%); 
    }
    to { 
        transform: translateY(300%);
    }
}

/* Internet Explorer */
@-ms-keyframes slideDownFadeOut {
    from { 
        transform: translateY(0%); 
    }
    to { 
        transform: translateY(300%);
    }
}

@media (max-width: 600px) {
    #landing-main-text {
        font-size: 60px;
    }

    #landing-sub-text {
        font-size: 15px;
    }
}

/* Our Story Section */ 

.section-box {
    padding: 110px 0;
    display: block;
    position: relative;
}

#story-section {
    max-width: 100%;
    min-height: 450px;
}

#story-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    min-height: 432px;
    max-width: 100%;
}

#story-box {
    padding: 0px 40px 0px 10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 594px;
    padding-top: 60px;
}

#story-content {
    width: 100%;
    padding: 35px 20px 0px 0px;
}

#story-content p {
    color: #999;
    font-size: 16px;
    font-style: italic;
    margin: 0px 0px 16px;
    line-height: 1.67;
}

#story-images-box {
}

#story-quote {
    padding-top: 20px;
}

#story-quote img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    float: left;
}

#quote-info {
    margin-left: 80px;
    box-sizing: border-box;
    color: #333;
}

#quote-name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 13px;
    display: block;
}

#quote-job { 
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

#story-images-container {
    display: grid;
    min-height: 432px;
    width: 594px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 10px;
}

.image-container {
    max-height: 100%;
}

.story-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1300px) {
    #story-box {
        width: 100%;
        margin-bottom: 90px;
        padding-top: 0;
    }
    #story-images-container {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .bold-heading {
        font-size: 35px;
    }

    .cursive-heading {
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    #story-images-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}

#features-section {
    background: url("http://demo.ovathemes.com/reon/wp-content/uploads/2018/12/hp-1-features-1.jpg");
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel {
    width: 100%;
}

.feature-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 30px;
    padding: 0 70px;
    background: transparent;
    counter-increment: feature-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.flickity-button {
    background: transparent !important;
}

.flickity-button-icon {
    fill: white !important;
}

.flickity-page-dots {
    bottom: -50px !important;
}

.flickity-page-dots .dot {
    width: 12px !important;
    height: 12px !important;
    opacity: 1 !important;
    background: transparent !important;
    border: 2px solid white !important;
}

.flickity-page-dots .dot.is-selected {
    background: white !important;
}

.feature-detail {
    background: #fff;
    width: 93%;
    padding: 80px 50px 80px 60px;
    box-sizing: border-box;
}

.feature-detail h2 {
    padding-bottom: 13px;
}

.feature-detail p {
    font-size: 16px;
    margin-bottom: 48px;
    color: #666;
    line-height: 23px;
    margin-top: 0;
}

.feature-image {
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,.2);
    -o-box-shadow: 0px 3px 8px 0px rgba(0,0,0,.2);
    -ms-box-shadow: 0px 3px 8px 0px rgba(0,0,0,.2);
}

.feature-image img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 900px) {
    .feature-content {
    }

    .feature-detail {
        width: 100%;
        padding: 60px 20px 60px;
    }
}

@media (max-width: 769px) {
    .feature-content {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    #features-section {
        padding-bottom: 160px;
    }

    .feature-content {
        padding: 0 15px;
        flex-direction: column;
    }

    .flickity-button {
        display: none;
    }

}

/* Menu styles */ 
#menu-container {
    text-align: center !important;
}

#home-menu-section .body-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

#menu-total {

}

#hash-image {
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-menu-nav {
    position: relative;
    display: inline;
    padding: 0 26px 15px;
    color: #333;
    position: relative;
    border-bottom: 2px solid transparent;
    transition: border-color .2s;
    -webkit-transition: border-color .2s;
    -moz-transition: border-color .2s;
    -o-transition: border-color .2s;
}

.home-menu-nav.active:after {
    content: "";
    background: rgb(218, 188, 149);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

#hash-image a {
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
}

#hash-image span {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#hash-image p {
    text-align: center;
    margin: 0;
}

#home-menu-carousel {
    border: 2px solid #e5e5e5;
    margin-top: 50px;
    min-height: 552px;
}

#home-menu-carousel .flickity-button {
    display: none;
}

.home-menu-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    background: white;
    counter-increment: home-menu-content;
    display: flex;
    box-sizing: border-box;
}

.home-menu-title {
    position: relative;
    height: 552px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.home-menu-title img {
    width: 100%;
    height: 100%;
}

.rotated-title {
    position: absolute;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home-menu-grid {
    flex: 0 0 75%;
    max-width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 65px;
}

.home-menu-cell {
    padding: 65px 15px 0px 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-menu-food-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 18%);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.18);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 18%);
    -o-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.18);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.18);
}

.home-menu-food-info span {
    display: block;
    text-align: left;
    line-height: 1.67;
}

.home-menu-food-name {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    padding: 31px 0 4px;
}

.home-menu-food-name span {
    display: inline-block;
}

.home-menu-food-description {
    margin-bottom: -17px;
    color: #666;
    
}

@media (max-width: 1200px) {
    .home-menu-grid {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 0px;
    }

    .home-menu-cell {
        padding: 65px 40px 0px 20px;
    }

    .home-menu-title {
        display: none;
    }
}

@media (max-width: 900px) {
    .home-menu-grid {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    #hash-image div {
       padding: 15px 26px;
    }

    .home-menu-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        padding-bottom: 50px;
    }

    .home-menu-cell {
        padding: 65px 30px 15px 15px;
    }
}

#home-filler-section {
    background-image: url("http://demo.ovathemes.com/reon/wp-content/uploads/2018/12/hp-1-cta.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 118px 0px 120px 0px !important;
}

#filler-content {
    padding: 90px 0 96px;
    width: 60%;
    margin: 0 auto;
}

#filler-content h2 {
    font-size: 60px;
    color: #fff;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 900px) {
    #filler-content {
        width: 100%;
    }
}


@media (max-width: 600px) {
    #filler-content h2 {
        font-size: 50px;
    }
}
